<div class="game">
	<h1>DEALER
		<% if @dealer_bust == true %>
		  <span>&nbsp;&nbsp;Dealer Busts</span>
		<% elsif @dealer_bj == true %>
		  <span>&nbsp;&nbsp;Blackjack</span>
		<% end %>	
	</h1>
	<h4>
		<% if @stay == true %>
		  <% @dealer.hands.each do |hand| %>
		  Score: 
		  <%= @game.score(hand)%>&nbsp;&nbsp;&nbsp;
		  <% end %>
		<% else %>
		  </br>
		<% end %>
	</h4>
	<h1>
		<% @dealer.hands.each do |hand| %>
		  <% if @stay == false %>
		    <% puts "Dealer shows #{@dealer.show(hand)[0]}" %>
		    <img src="/Cards/<%= @dealer.show(hand)[0] %>.png"/>
		    <img src="/Cards/cardback.png" />
		  <% else %>
		    <% @dealer.hands.each do |hand| %>
		      <% hand.each do |card| %>
		      	<% puts "Dealer has #{card}" %>
		        <img src="/Cards/<%= card %>.png">
		      <% end %>
		        <span>&nbsp;&nbsp;&nbsp;</span>
		    <% end %>
		  <% end %>
		<% end %>
	</h1>
	</br>
	<h1>PLAYER
		<% if @bust == true %>
		  <span>&nbsp;&nbsp;Bust</span>
		<% elsif @bj == true %>
		  <span>&nbsp;&nbsp;Blackjack!</span>
		<% end %>
	</h1>
	<table align="center">


		<tr> 
		<% @player.hands.each do |hand| %>
		<td>Score: <%= @game.score(hand)%>
		<% end %>
		</tr>
		<tr>
		<% @player.hands.each do |hand| %>
		  <td>
		  <% hand.each do |card| %>
		    <% puts "Player has #{card}" %>
		    <img src="/Cards/<%= card %>.png">
		  <% end %>
		<% end %>
		</tr>
		<tr>
		<% @player.bets.each do |bet| %>
		  <td>Bet: $<%= bet %>
		<% end %>
		</tr>
		<tr>
 			<% @player.hands.each_with_index do |hand, index| %>	
				<td><form action="/" method="post">
					<% if @bust == false && @stay == false && @bj == false && @player.moves[index] != 'double' && @player.moves[index] != 'bust' %> 
		  				<input type="hidden" name="index" value = "<%=index%>"/>
		 		   		<% if @player.moves[index] != 'stay' %>
				      	  <button formmethod="post" name="hit"  value= "<%= @id %>">Hit</button>
					  	  <button formmethod="post" name="stay" value= "<%= @id %>">Stay</button>
				   		  <% if @fresh_deal == true || @player.moves[index] == nil %>
			  		  	    <button formmethod="post" name="double"+<%=index%> value= "<%= @id %>">Double</button>
			  	   		    <% if @game.split?(hand) %>
			      	  		  <button formmethod="post" name="split" value= "<%= @id %>">Split</button>
			  	   			<% end %>
						  <% end %>
		  				<% end %>	
					<% else %>
		    		  <% if index == 0 %>
						<button formmethod="post" name="next_hand" value= "<%= @id %>">Next Hand</button>
						<label for="new_bet">Bet: $</label>
						<input type="text" name="new_bet" id="new_bet" size="5" value="100"/>
					  <%end%>
					<%end%>
    			</form>
 			<% end %>
 		</tr>
 		<tr>
		  <% @player.win_or_loss.each do |outcome|%>
			<td style="font-size: 30px"><% if outcome == 'win' %>
     			You Win!
			<% elsif outcome == 'loss' %>
				Dealer Wins
			<% elsif outcome == 'push' %>
				Push
			<% end %>
		  <% end %>
		</tr>
	</table>

  <h3>Balance: $<%=@player.balance %></h3
  	>

</div>
